// font-weight
$font-weight400: 400;
$font-weight500: 500;

// back
$first-back: #435476;
$white-back: #FFFFFF;
$black-back: #000000;
$title-close: #EAEBED;

// color
$title-color: #3A3A3A;
$descr-text: rgba(255, 255, 255, 0.60);
$descr-text2: rgba(255, 255, 255, 0.50);
$carousel-title: #1A1A1A;
$brand-color: #999;
$new-price: #E20000;
$prod-item: #333;
// font-size 
$font-size7: 7px;
$font-size9: 9px;
$font-size10: 10px;
$font-size12: 12px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size20: 20px;
$font-size22: 22px;
$font-size24: 24px;
$font-size23: 23px;
$font-size25: 25px;
$font-size26: 26px;
$font-size29: 29px;
$font-size30: 30px;
$font-size35: 35px;
$font-size40: 40px;
$font-size48: 48px;
$font-size59: 59px;

// transition

$transition: 0.5s all;
