@import 'libs/normalize.css';
@import 'style/fonts';
@import 'style/variables';
@import 'style/header';
@import 'style/tabs';
@import 'style/carousel';
@import 'style/products';
@import 'style/footer';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TharLon', 'Tenor Sans', 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container {
    width: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}